body {
    background-color: tomato;
  }
  
  h1 {
    color: rgb(221, 224, 0);
    text-align: center;
  }
  
  p {
    color: aliceblue;
    font-family: verdana;
    font-size: 25px;
  }