body {
    background-color: tomato;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0sk1gZUWYPUZm5tPW_BNf0QdBWq_XQqAO5Q&s");
  }
  
  h1 {
    color: rgb(221, 224, 0);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 25px;
  }